// File: app.less


// Variables
// -------------------------

@blue:            #5bc0de;
@green:           #669900;
@orange:          #f68a24;
@gray:            #999999;
@gray-light:      #cccccc;
@gray-lighter:    #ececec;
@gray-lightest:   #f6f6f6;
@shade:           darken(@blue,10%);

@primary-font:    'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
@secondary-font:  'Roboto Slab', serif;

@gutter:          30px;
@half-gutter:     @gutter/2;

// Mixins
// -------------------------

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.vert-align(@position:relative) {
  position: @position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Styles
// -------------------------

body {
  background-color: @gray-lighter;
  color: #696969;
  font-family: @primary-font;
  font-size: 16px;
}


.site-header {
  background-color: @blue;
  background-image: linear-gradient(to right, @blue 60%, darken(@blue,10%) 100%); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  border-bottom: 2px solid white;
  height: 130px;
  margin-bottom: @gutter;
  padding: 0 @half-gutter;
  position: relative;
}

.site-header__bq {
  color: @gray-lightest;
  display: inline-block;
  font-family: @secondary-font;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  pointer-events: none;
  text-shadow:
       0 .005em @shade,
       .005em 0 @shade,
  .005em .010em @shade,
  .010em .005em @shade,
  .010em .015em @shade,
  .015em .010em @shade,
  .015em .020em @shade,
  .020em .015em @shade,
  .020em .025em @shade,
  .025em .020em @shade,
  .025em .030em @shade,
  .030em .025em @shade,
  .030em .035em @shade,
  .035em .030em @shade,
  .035em .040em @shade,
  .040em .035em @shade,
  .040em .045em @shade,
  .045em .040em @shade,
  .045em .050em @shade,
  .050em .045em @shade,
  .050em .055em @shade,
  .055em .050em @shade,
  .055em .060em @shade,
  .060em .055em @shade,
  .060em .065em @shade,
  .065em .060em @shade,
  .065em .070em @shade,
  .070em .065em @shade,
  .070em .075em @shade,
  .075em .070em @shade,
  .075em .080em @shade,
  .080em .075em @shade,
  .080em .085em @shade,
  .085em .080em @shade,
  .085em .090em @shade,
  .090em .085em @shade,
  .090em .095em @shade,
  .095em .090em @shade,
  .095em .100em @shade,
  .100em .095em @shade,
  .100em .105em @shade,
  .105em .100em @shade,
  .105em .110em @shade,
  .110em .105em @shade;
  user-select: none;
  .vert-align();

  @media screen and (min-width: 480px) {
    font-size: 48px;
  }
}

.site-header__logo {
  float: left;
  height: auto;
  margin-right: @half-gutter;
  max-width: 100px;
  .vert-align();
}

.site-header__btlogo {
  background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
  display: none;
  padding: 0.75em;
  right: @half-gutter;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  width: 120px;
  .vert-align(absolute);
  &:hover,&:focus {
    background-color: rgba(255,255,255,0.75);
    border-radius: 4px;
    box-shadow:
      5px 5px 0px lighten(@blue,10%),
      10px 10px 0px @blue;
    text-decoration: none;
  }
  img { max-width: 100%; }
  @media screen and (min-width: 600px) {
    display: block;
  }
}

.site-intro {
  margin-bottom: 2em;
}

.title-column {
  color: @gray-light;
  font-weight: normal;
  margin: 0 0 1em 0;
}

// Element
// -------------------------

.element,.element2,.element3 {
  margin: 2em 0;
  padding: 1em;
  transition: all .5s;
}

.element {
  background-color: @blue;
}

.element__header {
  color: white;
  font-weight: normal;
  margin: 0 0 1em 0;
}

// Element modifiers

.element--md {
  .element__header:after {
    content: " .element--md";
  }
}

.element--lg {
  .element__header:after {
    content: " .element--lg";
  }
}

.element--xlg {
  .element__header:after {
    content: " .element--xlg";
  }
}

// Element 2
// -------------------------

.element2 {
  background-color: @green;
}

// Element 2 modifiers

.element2--md {
  .element__header:after {
    content: " .element2--md";
  }
}

.element2--lg {
  .element__header:after {
    content: " .element2--lg";
  }
}


// Prettify Code
// -------------------------

.pretty-code {
  .prettyprint {
    border-color: @gray-light;
    padding: 1em;
  }
}


